* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
    color: rgb(232, 230, 227);
    transition: all 0.8s ease;
}

:root {
    --aniworld-color: rgb(5, 28, 143);
    --max-width: 300px;
    --max-height: 500px;
    --page-nav-height: 50px;
}

html, body {
    display: flex;
    flex-direction: column;
    width: var(--max-width);
    min-width: var(--max-width);
    max-width: var(--max-width);
    height: var(--max-height);
    min-height: var(--max-height);
    max-height: var(--max-height);
    overflow: auto;
}

html { background-color: #0c121a; }

#page_container {
    display: flex;
    flex-direction: row;
    width: var(--max-width);
    min-width: var(--max-width);
    max-width: var(--max-width);
    height: calc(var(--max-height) - var(--page-nav-height));
    min-height: calc(var(--max-height) - var(--page-nav-height));
    max-height: calc(var(--max-height) - var(--page-nav-height));
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    width: var(--max-width);
    min-width: var(--max-width);
    max-width: var(--max-width);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--aniworld-color) #202632;
}

.page::-webkit-scrollbar {
    width: 3px;
}

.page::-webkit-scrollbar-track {
    background: #202632;
    border-radius: 10px;
}

.page::-webkit-scrollbar-thumb {
    background: var(--aniworld-color);
    border-radius: 10px;
}

.page::-webkit-scrollbar-thumb:hover {
    background: #2a3747;
}

#page_navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 1rem;
    width: var(--max-width);
    height: var(--page-nav-height);
    min-height: var(--page-nav-height);
    max-height: var(--page-nav-height);
    padding: 0.4rem;
    background-color: #202632;
    border-top: 2px solid var(--aniworld-color);
    border-radius: 8px 8px 0px 0px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #202632;
    color: #f0f0f0;
    border-radius: 100px;
    cursor: pointer;
}

.tab:hover, .tab.selected {
    background-color: #2a3747;
}

.tab img {
    width: 20px;
    aspect-ratio: 1/1;
}

.skeleton {
    border-radius: 10px;
    overflow: hidden;
    animation: skeleton-loading 2s infinite;
    color: transparent;
    cursor: default;
}

.skeleton * {
    background-color: transparent;
    color: transparent;
    cursor: default;
    opacity: 0%;
}

.hidden {
    display: none !important;
}

@keyframes skeleton-loading {
    0% {
        background-color: #202632;
    }
    50% {
        background-color: #2a3747;
    }
    100% {
        background-color: #202632;
    }
}